<footer class="bg-dark text-white pt-4 pb-3 ">
  <div class="container">
    <div class="row align-items-center mb-3">
      <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <h5>Payment Reminder</h5>
        <p class="mb-0">Stay updated. Never miss a payment.</p>
      </div>
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-white mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <a href="/privacy" class="text-white me-3">Privacy</a>
        <a href="/terms" class="text-white">Terms</a>
      </div>
    </div>
    <hr class="border-light" />
    <div class="text-center small">
      © 2025 Payment Reminder. All rights reserved.
    </div>
  </div>
</footer>