<nav class="navbar navbar-expand-md navbar-dark bg-gradient shadow-sm sticky-top" style="background: linear-gradient(90deg, #6f42c1, #6610f2);">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/">
       <i class=" fa fa-solid fa-credit-card"></i> &nbsp;&nbsp;&nbsp;Remind<span class="text-warning">Pro</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link px-3 text-white fw-semibold" href="/">
          <i class="fa-solid fa-house me-1"></i> Home
        </a>
        <a class="nav-link px-3 text-white fw-semibold" href="/add">
          <i class="fa-solid fa-circle-plus me-1"></i> Add Payment
        </a>
        <a class="nav-link px-3 text-white fw-semibold" href="/customers">
          <i class="fa-solid fa-users me-1"></i> Pending Customers
        </a>
         <a class="nav-link px-3 text-white fw-semibold" href="/dashboard">
          <i class="fa-solid fa-gauge-simple"></i> Dashboard
        </a>
      </div>
    </div>
  </div>
</nav>